/* Home */
.main {
  height: 500px;
  width: 75%;
  margin: 50px auto 30px auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 90%;

  &__estrenos {
    text-align: center;
    margin: 20px 0 10px 0;
    width: 40vw;

    &--title {
      font-size: 2rem;
      color: $whiteColor;
      font-weight: 300;
      padding: 8px 0;
      text-shadow: $shadowText;
    }
  }

  &__ingresos {
    text-align: center;
    margin: 20px 0;

    &--title {
      font-size: 2rem;
      color: $whiteColor;
      font-weight: 300;
      padding: 8px 0;
      text-shadow: $shadowText;
    }

    &__galeria--img {
      border-radius: 10%;
      display: grid;
      justify-content: space-around;
      align-items: center;
      grid-template-columns: repeat(5, 20%);
      width: 100%;
      margin: auto;
      margin-bottom: 2vh;
      opacity: 90%;
      gap: 30px;
      transition: transform 1s;

      &:hover {
        transform: translateY(-15px);
      }
    }
  }
}