/* Productos */
.contenedor {
  
  &--productos {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(5, 20%);
    width: 100%;
    margin: auto;
    opacity: 90%;
    gap: 30px;

    &--productos {
      margin: 40px auto;
      width: 80%;
    }

    &--main {
      grid-template-columns: repeat(5, 20%);
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1vh;
  }
}

.productos {

  &--img {
    border-radius: 5%;
  }

  &--nombre {
    color: $whiteColor;
    padding-top: 10px;
    text-shadow: $shadowText;
  }

  &--precio {
    color: $shadowGrey;
  }
}