$blackGradient: linear-gradient(to right, #434343, black);
$greyGradient: linear-gradient(to right, #868f96 0%, #596164 100%);
$shadowText:  black 0.5px 2px;
$greyColor: #434343;
$shadowGrey: #868f96;
$whiteColor: white;